body{
    background-color: rgba(8, 8, 8, 0.856);
}

div.matraca{
    margin-top: 100px;
}

h1{
    text-align: center;
    color: yellow;
    margin-top: 40px;
}

.editor{
    color: white;
    text-align: center;
    font-size: 40pt;
}

.note-toolbar.card-header{
    text-align: center;
}

.note-editor.note-frame.card{
    margin-left: 145px;
    width: 800px;;
}

div.note-editable.card-block{
    height: 300px;
}

#seletor-voz{
    color: white;
}

div.input-btn{
    text-align: center;
}

input.btn{
    border-radius: 400px;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-left: 260px;
    margin: 1.5em;
    background-color: white;
}

